<tr>
  <td><%= script.class.to_s %></td>
  <td><%= script.title %></td>
  <td><%= script.isbn %></td>
  <td><%= script.authors_emails %></td>
  <td><%= script.try(:description) %></td>
  <td><%= script.try(:published_at) %></td>
</tr>